<table class="striped_table">
	<thead><tr>
		<td>Registered for</td>
		<td>Number of ads</td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td> <%= alive %> days</td>
		<td> <a href="/ads/<%= session["username"] %>/list"><%= nr_ads %> ads</a></td>
	</tr>
	</tbody>
</table>
