<table class="striped_table">
	<thead><tr>
		<td style="color:#333"><b>Registered for</b></td>
		<td style="color:#333"><b>Number of ads</b></td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td> <%= alive %> days</td>
		<td> <a href="/ads/<%= session["username"] %>/list"><%= nr_ads %> ads</a></td>
	</tr>
	</tbody>
</table>
