<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[ADSPACE]</title>
<style type="text/css">
<!--
@import url("/css/style.css");
-->
</style>
</head>
<body>
<div id="wrapper">
<div id="header"><h1><center>[ADSPACE]</center></h1>
<% if session["username"] %><div class="logout"><a href="/logout">Logout <%= session["username"] %></a> </div><% end %>
</div>
<div id="container">
<div id="left">
<%= erb :_left_navbar %>
</div>
<div id="center">
<h2>Create new ad</h2>
<form name="new_ad" action="/new_ad" method="post">
Title *<br/>
<input type="text" name="title" id="title" value="" class="layout"/><br />
<select name="category" style="width:150px" class="layout">
	<!-- Ruby code that automatically generates all the categories 
	in the database -->
	<%= erb(:_category_list, :layout => false, :locals => {:mode => :dropdown}) %> </select>
<br>Description *<br/>
<textarea rows="10" cols="100" type="text" name="description" value="" style="width:100%">Enter the description of your ad here.</textarea> 
<br/> <input type="submit" value="Submit" /></form>
</div>
<div id="right">
<ul id="nav">
<!-- Ruby code that automatically generates all the categories 
in the database -->
	<%= erb(:_category_list, :layout => false, :locals => {:mode => :list}) %>	
</ul></div>
<div class="clearer"> </div>
</div>
<div id="footer"><p>© ADSPACE 2010</p></div>
</div>
</body>
</html>
