<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Top 10 Express Table Designs - Smashing Magazine Source</title>
<style type="text/css">
<!--
@import url("/css/style.css");
-->
</style>
</head>
<body>

<p><h1><center>Maybe some general bullshit text </center></h1></p>
<%= erb :_loggedin %>
<%= erb :_flash %>
<hr><br/>
<form name="new_ad" action="/new_ad" method="post">
Title *<br/>
<input type="text" name="title" id="title" value=""/><br />
Category *<br/>
<input type="text" name="category" id="category" value=""/><br />
Description *<br/>
<textarea rows="10" cols="100" type="text" name="description" value="">Enter the description of your ad here.</textarea> 
<br/> <input type="submit" value="Submit" />

<br/><br/><hr>
<p><h2>Maybe some other bullshit here</h2></p>
</form>

</body>
</html>
